@using Microsoft.AspNetCore.Mvc.TagHelpers

@model bacit_dotnet.MVC.ViewModels.Suggestions.CreateSuggestionViewModel

<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create new Suggestion</h2>
            <hr />
        </div>
        @*
        This line of code will show a summary of all errors at the top of the page.
        <div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="mb-3">
            <label asp-for="Suggestion.EmployeeId">Ansatt ID</label>
            <input asp-for="Suggestion.EmployeeId" class="form-control" />
            <span asp-validation-for="Suggestion.EmployeeId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Suggestion.Title">Tittel</label>
            <input asp-for="Suggestion.Title" class="form-control" minlength ="2" />
            <span asp-validation-for="Suggestion.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Suggestion.Description">Beskrivelse</label>
            <input asp-for="Suggestion.Description" class="form-control" />
            <span asp-validation-for="Suggestion.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Suggestion.Deadline">Tidsfrist</label>
            <input asp-for="Suggestion.Deadline" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
            <span asp-validation-for="Suggestion.Deadline" class="text-danger"></span>
        </div>

        <!-- Image -->
        <div class="mb-3">
            <label asp-for="Attachments">Last opp bilde</label>
            <input asp-for="Attachments" id="imageInput" class="form-control pt-1"
                type="file" accept=".jpg, .png, .jpeg" size="1" style="cursor: pointer" value="Choose file" data-max-size="@(1 * 1024 * 1024)" />  
            <span id="imageWarning" class="text-danger" style="display: none;"></span>
            <span id="imageTypeWarning" class="text-danger" style="display: none"></span>

            <!-- Image preview field -->  
            <img id="imagePreview" src="" alt=""/>  
        </div>

        <br/>

        <button id="submitBtn" type="submit" class="btn btn-primary" style="width: 150px">Create</button>
        <a asp-controller="Suggestion" asp-action="Index" class="btn btn-secondary" style="width: 150px">
            Back to list
        </a>
    </div>
</form>

<!--This script makes sure that the validation process is done on client-side instead of server-side-->
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/createSuggestion.js" charset="ISO-8859-1"></script>
}