html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Spartan, sans-serif;
}
/* Custom class that extends bootstrap's button styles. */
.extra-button-style {
    font-size: 1rem;
}
.extra-iconify-mdi {
    width: 24px;
    height: 24px;
    display: inline-block;
}
.extra-iconify-mdi-big {
    width: 30px;
    height: 30px;
    display: inline-block;
}

h4 {
    font-size: 18px;
    font-family: Spartan, sans-serif;
    font-weight: lighter;
}

