html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Spartan, sans-serif;
  font-type: normal;
}
/* Custom class that extends bootstrap's button styles. */
.extra-button-style {
    font-size: 1rem;
}