@{
    Layout = null;
}


<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width" />
        <title>PageNotfound</title>

        <style>
            .text-center {
                text-align: center;
            }
        </style>
    </head>

    <body>
        <div class="text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4RqjykGVCv1N75SU5BuV3iIYA7KdR-QSjyA&usqp=CAU" alt="404"></a>
                <h2>40DOOR NOT FOUND</h2>
                <a class="nav-link text-dark" asp-area="" asp-controller="Suggestion" asp-action="Index">Hjem</a>
        </div>
    </body>
</html>