@{
    ViewData["Title"] = "404: Siden finnes ikke";
}

@{
    Layout = "_Layout";
}


<div class="d-grid pb-3">
    <div class="text-center">
        @*<img class="rounded-3" src="/image/404.jpg" alt="404" style="width: 70%; height: auto;" />*@
        <h1 class="mt-5">Feil: 404 - Døren du åpnet førte til en murvegg.</h1>
        <p>(Siden finnes ikke)</p>
        <a class="nav-link btn btn-lg extra-button-style" asp-area="" asp-controller="Suggestion" asp-action="Index">Trykk her for å komme til hovedsiden</a>
    </div>
</div>