@model bacit_dotnet.MVC.Models.Teams

<form method="post" asp-action="Delete">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Slett Team</h2>
            <hr/>
        </div>
        @*
        This line of code will show a summary of all errors at the top of the page.
        <div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="mb-3">
            <label asp-for="TeamName">Team navn</label>
            <input asp-for="TeamName" disabled="" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="UserId">Teamleder</label>
            <input value="@string.Concat(Model.User.F_Name, " " , Model.User.L_Name)" disabled="" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px">Delete</button>
        <a asp-controller="Team" asp-action="Index" class="btn btn-secondary" style="width: 150px">
            Back to list
        </a>
    </div>
</form>

<!--This script makes sure that the validation process is done on client-side instead of server-side-->
@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}