@model bacit_dotnet.MVC.ViewModels.TeamViewModel

@* ### Index for Teams ### *@

@{
    ViewData["Title"] = "Index";
}


<div class="border p-4 mt-4 bg-white">


    <h3 class="text-dark d-inline-block mb-5">Teams i systemet</h3>
    <a asp-controller="Team" asp-action="Create" class="btn btn-outline-dark d-inline-block float-end">Lag nytt team</a>
    <div class="row pt-3">
        <div class="row pb-3">
            <div class="col-md-3">
                <b>Teamnavn</b>
            </div>
            <div class="col-md-3">
                <b>Teamleder</b>
            </div>
        </div>
        <hr />


        @foreach (var objTeam in Model.Teams)
        {
            <div class="row">
                <div class="col-md-3 pt-2">
                    @objTeam.TeamName
                </div>
                <div class="col-md-6 pt-2">
                    @string.Concat(objTeam.User.FirstName, " ", objTeam.User.LastName)
                </div>
                <div class="col-md-3 mb-3" style="text-align: right;">
                    <a asp-controller="Team" asp-action="Edit" asp-route-id="@objTeam.TeamId" class="btn btn-outline-dark me-2 ps-0 pe-0" style="width: 85px;">Endre</a>
                    <a asp-controller="Team" asp-action="Delete" asp-route-id="@objTeam.TeamId" class="btn btn-outline-dark ps-0 pe-0" style="width: 85px;">Slett</a>
                </div>
            </div>
            <hr />
        }
    </div>
</div>