@model bacit_dotnet.MVC.Models.Users

<form method="post" asp-action="Delete">
    <input asp-for="UserId" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete User</h2>
            <hr/>
        </div>
        @*
        This line of code will show a summary of all errors at the top of the page.
        <div asp-validation-summary="All" class="text-danger"></div>*@
        <div class="mb-3">
            <label asp-for="EmployeeId">EmployeeId</label>
            <input asp-for="EmployeeId" disabled="" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="F_Name">First Name</label>
            <input asp-for="F_Name" disabled="" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="L_Name">Last Name</label>
            <input asp-for="L_Name" disabled="" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px">Delete</button>
        <a asp-controller="User" asp-action="Index" class="btn btn-secondary" style="width: 150px">
            Back to list
        </a>
    </div>
</form>

<!--This script makes sure that the validation process is done on client-side instead of server-side-->
@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}